// 1. Abstracts
@import 'abstract/variables';

// 2. Base
@import 'base/reset';

// 3. Components
@import 'components/buttons';
@import 'components/cards'; 

// 4. Layout
@import 'layout/header';
@import 'layout/intro-banner';
@import 'layout/features';      
@import 'layout/steps'; 
@import 'layout/testimonials';  
@import 'layout/footer';        