.site-header {
    background-color: #ffffff; 
    padding: 15px 0; 
    
   //sticky 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; 
    box-shadow: 0 2px 10px rgba(0,0,0,0.05); 

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__logo-link {
        display: inline-block;
        text-decoration: none;
    }

    &__logo-img {
        height: 45px; 
        width: auto; 
        display: block; 
        transition: all 0.3s ease;

       
        @media (max-width: 768px) {
            height: 35px; 
        }
    }
}