* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
    line-height: 1.6;
    color: $text-dark;
    background-color: #f9f9f9;
padding-top: 80px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 20px;
}