
$color-primary: #6B4cce; 
$color-secondary: #5841ab; 
$color-accent: #ff4757; 

$gradient-main: linear-gradient(135deg, #7450fe 0%, #4facfe 100%);

$text-dark: #333333;
$text-light: #ffffff;
$text-gray: #666666;

$spacing-unit: 1rem;